<label>Artist</label>
<cwc-select id="artists" controller="artists-ctrl"></cwc-select>
<hr>
<label>Color</label>
<cwc-select id="colors" controller="colors-ctrl"></cwc-select>
<hr>
<label>Expansion</label>
<cwc-select id="expansions" controller="expansions-ctrl"></cwc-select>
<hr>
<label>Rarity</label>
<cwc-select id="rarities" controller="rarities-ctrl"></cwc-select>
<hr>
<label>Subtype</label>
<cwc-select id="subtypes" controller="subtypes-ctrl"></cwc-select>
<hr>
<label>Type</label>
<cwc-select id="types" controller="types-ctrl"></cwc-select>