<input class="cwc-select-label" placeholder="Select..." ng-model="color" ng-change="refresh('select-color', filtered_colors.length)">
<div class="cwc-select-dropdown">
    <div class="cwc-select-container">
        <div class="cwc-select-content">
            <div class="cwc-select-option" ng-repeat="color_option in colors | filter: {name: color} as filtered_colors" ng-click="$parent.color = this.color_option.name">{{color_option.name}}</div>
        </div>
    </div>
    <div class="cwc-select-track" ng-show="filtered_colors.length > 5">
        <div class="cwc-select-thumb"></div>
    </div>
</div>
