<input class="cwc-select-label" placeholder="Select..." ng-model="rarity" ng-change="refresh('select-rarity', filtered_rarities.length)">
<div class="cwc-select-dropdown">
    <div class="cwc-select-container">
        <div class="cwc-select-content">
            <div class="cwc-select-option" ng-repeat="rarity_option in rarities | filter: {name: rarity} as filtered_rarities" ng-click="$parent.rarity = this.rarity_option.name">{{rarity_option.name}}</div>
        </div>
    </div>
    <div class="cwc-select-track" ng-show="filtered_rarities.length > 5">
        <div class="cwc-select-thumb"></div>
    </div>
</div>