<input class="cwc-select-label" placeholder="Select..." ng-model="artist" ng-change="refresh('select-artist', filtered_artists.length)">
<div class="cwc-select-dropdown">
    <div class="cwc-select-container">
        <div class="cwc-select-content">
            <div class="cwc-select-option" ng-repeat="artist_option in artists | filter: {name: artist} as filtered_artists" ng-click="$parent.artist = this.artist_option.name">{{artist_option.name}}</div>
        </div>
    </div>
    <div class="cwc-select-track" ng-show="filtered_artists.length > 5">
        <div class="cwc-select-thumb"></div>
    </div>
</div>