*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    position: relative;
}

body{
    font-family: 'Exo 2', sans-serif;
    padding: 15px;
}

.container{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@import "cwc-select.scss";